.header_content h1{
    font-size: 50px;
    text-align: center;
    color: #ffffff;
    background-color: #080606;
    border-radius: 20px;
    padding: 10px;
    margin: 20px;
    margin-bottom:40px
}

.header_content a{
    color:aqua
}
.main_content h1{
    font-size: 40px;
    text-align: center;
    color: #ffffff;
    background-color: #080606;
    border-radius: 20px;
    padding: 10px;
    margin: 20px;
    margin-bottom:40px
}
.header_content span{
    color: red;
    font-weight: bold;
    text-decoration: underline;
}